# Inflation vs. Wages (Overall)
2025-09-14

## 1. Import Functions and Set Variables

In [1]:
from _notebook_setup import *

hit_api = True
save_output = True

current_year= int(datetime.now().strftime("%Y"))
years = list(range(1979, current_year + 1))

‚úÖ Notebook setup complete!
‚úÖ Available APIs: bls
‚úÖ Available libraries: pd, np, plt, sns, datetime
‚úÖ Helper functions: save_data(), save_figure(), load_data()
üìÅ Data directory: /Users/annebode/Documents/selfevidence.github.io/data
üìÅ Output directory: /Users/annebode/Documents/selfevidence.github.io/data/output
üìä Ready for analysis!

## 2. Import Data

### 2.a CPI (Unadjusted)

In [ ]:
# got series_ids from https://www.bls.gov/help/hlpforma.htm#OCWC
base_series_ids = {
    "CUUR": "CPI (Unadjusted)"
 }

regions = {
    "0000": "National",
}

items = {
    "SA0": "All items",
    "SA0L1E": "Core CPI (excludes food & energy)",
    "SAF": "Food and beverages",
    "SAH": "Housing",
    "SAM": "Medical care",
}

series_ids = [base_series_id + region + item for base_series_id in base_series_ids for region in regions for item in items]

if hit_api:
    df_cpi = bls.get_data(
        series_ids = series_ids,
        years = years,
    )
    df_cpi = bls.clean_data_cpi_unadjusted(df_cpi, base_series_ids, regions, items)
    if save_output:
        save_data(df=df_cpi, filename='01_inflation_data.csv')
else:
    df_cpi = load_data(filename='01_inflation_data.csv')

df_cpi.head()

/Users/annebode/Documents/selfevidence.github.io/data/apis/bls_api.py:80: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

üíæ Data saved: /Users/annebode/Documents/selfevidence.github.io/data/output/processed_data/01_inflation_data.csv

,series_id,year,period,value,data_type,region,item,date
0,CUUR0000SA0,1998,M12,163.9,CPI (Unadjusted),National,All items,1998-12-01
1,CUUR0000SA0,1998,M11,164.0,CPI (Unadjusted),National,All items,1998-11-01
2,CUUR0000SA0,1998,M10,164.0,CPI (Unadjusted),National,All items,1998-10-01
3,CUUR0000SA0,1998,M09,163.6,CPI (Unadjusted),National,All items,1998-09-01
4,CUUR0000SA0,1998,M08,163.4,CPI (Unadjusted),National,All items,1998-08-01

In [7]:
df_cpi.describe()

             value                           date
count  2800.000000                           2800
mean    208.635325  2002-04-16 16:58:17.142857088
min      65.000000            1979-01-01 00:00:00
25%     135.975000            1990-08-24 06:00:00
50%     191.800000            2002-04-16 00:00:00
75%     250.583000            2013-12-08 18:00:00
max     583.875000            2025-08-01 00:00:00
std     101.011364                            NaN

### 2.b CPS Weekly Nominal Earnings

In [ ]:
# # series_ids obtained from: https://data.bls.gov/PDQWeb/le
# series_id_dict = {
    
#     # First Decile
#     'LEU0252911200': {
#         'description': '(unadj)- Usual weekly earnings (first decile), Employed full time, Wage and salary workers',
#         'percentile': 10,
#         'race': 'All'
#     },
#     # First Quartile
#     'LEU0252911300': {
#         'description': '(unadj)- Usual weekly earnings (first quartile), Employed full time, Wage and salary workers',
#         'percentile': 25,
#         'race': 'All'
#     },
#     # Second Quartile
#     'LEU0252881500': {
#         'description': '(unadj)- Usual weekly earnings (second quartile), Employed full time, Wage and salary workers',
#         'percentile': 50,
#         'race': 'All'
#     },
#     # Third Quartile
#     'LEU0252911400': {
#         'description': '(unadj)- Usual weekly earnings (third quartile), Employed full time, Wage and salary workers',
#         'percentile': 75,
#         'race': 'All'
#     },
#     # Ninth Decile
#     'LEU0252911500': {
#         'description': '(unadj)- Usual weekly earnings (ninth decile), Employed full time, Wage and salary workers',
#         'percentile': 90,
#         'race': 'All'
#     },
# }

# if hit_api:
#     df_wages = bls.get_data(
#         series_ids = list(series_id_dict.keys()),
#         years = years,
#     )
#     df_wages = bls.clean_data_weekly_nominal_earnings(df_wages, series_id_dict)
#     if save_output:
#         save_data(df=df_wages, filename='01_wage_data.csv')

# else:
#     df_wages = load_data(filename='01_wage_data.csv')

df_wages['date'] = pd.to_datetime(df['date'])
df_wages.head()

/Users/annebode/Documents/selfevidence.github.io/data/apis/bls_api.py:80: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

üíæ Data saved: /Users/annebode/Documents/selfevidence.github.io/data/output/processed_data/01_wage_data.csv

,series_id,year,period,value,data_type,description,percentile,race,date
0,LEU0252881500,1998,Q04,541.0,CPS Weekly Nominal Earnings,(unadj)- Usual weekly earnings (second quartil...,50,All,1998-10-01
1,LEU0252881500,1998,Q03,520.0,CPS Weekly Nominal Earnings,(unadj)- Usual weekly earnings (second quartil...,50,All,1998-07-01
2,LEU0252881500,1998,Q02,515.0,CPS Weekly Nominal Earnings,(unadj)- Usual weekly earnings (second quartil...,50,All,1998-04-01
3,LEU0252881500,1998,Q01,521.0,CPS Weekly Nominal Earnings,(unadj)- Usual weekly earnings (second quartil...,50,All,1998-01-01
4,LEU0252881500,1997,Q04,511.0,CPS Weekly Nominal Earnings,(unadj)- Usual weekly earnings (second quartil...,50,All,1997-10-01

In [3]:
df_wages.describe()

             year        value  percentile
count   594.00000   594.000000  594.000000
mean   2008.96633   901.314815   50.000000
std      10.84455   603.457847   27.666406
min    1979.00000   234.000000   10.000000
25%    2003.00000   432.250000   25.000000
50%    2010.00000   669.000000   50.000000
75%    2018.00000  1240.750000   75.000000
max    2025.00000  2905.000000   90.000000

###