# Pulling Inflation Data from BLS

In [ ]:
from _notebook_setup import *
hit_api = False
save_output = False

‚úÖ Notebook setup complete!
‚úÖ Available APIs: bls
‚úÖ Available libraries: pd, np, plt, sns, datetime
‚úÖ Helper functions: save_data(), save_figure(), load_data()
üìÅ Data directory: /Users/annebode/Documents/selfevidence.github.io/data
üìÅ Output directory: /Users/annebode/Documents/selfevidence.github.io/data/output
üìä Ready for analysis!

In [2]:
current_year= int(datetime.now().strftime("%Y"))
years = list(range(1979, current_year + 1))

# got series_ids from https://www.bls.gov/help/hlpforma.htm#OCWC

base_series_ids = {
    "CUUR": "CPI (Unadjusted)"
 }

regions = {
    "0000": "National",
    "0100": "Northeast",
    "0200": "Midwest",
    "0300": "South",
    "0400": "West",
}

items = {
    "SA0": "All items",
    "SA0L1E": "Core CPI (excludes food & energy)",
    "SAA": "Apparel",
    "SAE": "Education and communication",
    "SAF": "Food and beverages",
    "SAG": "Other goods and services",
    "SAH": "Housing",
    "SAM": "Medical care",
    "SAR": "Recreation",
    "SAT": "Transportation",
}

series_ids = [base_series_id + region + item for base_series_id in base_series_ids for region in regions for item in items]

In [ ]:
bls = BLSAPI()

if hit_api:
    df = bls.get_data(
        series_ids = series_ids,
        years = years[0:1]
    )
    df = bls.clean_data_cpi_unadjusted(df, base_series_ids, regions, items)
    if save_output:
        save_data(df=df, filename='inflation_data.csv')
else:
    df = load_data(filename='inflation_data.csv')

df.head()

üìÇ Loaded: /Users/annebode/Documents/selfevidence.github.io/data/output/processed_data/inflation_data.csv (23751 rows)

,series id,year,period,value,region,item,date,data_type
0,CUUR0000SA0,1998,M12,163.9,National,All items,1998-12-01,CPI (Unadjusted)
1,CUUR0000SA0,1998,M11,164.0,National,All items,1998-11-01,CPI (Unadjusted)
2,CUUR0000SA0,1998,M10,164.0,National,All items,1998-10-01,CPI (Unadjusted)
3,CUUR0000SA0,1998,M09,163.6,National,All items,1998-09-01,CPI (Unadjusted)
4,CUUR0000SA0,1998,M08,163.4,National,All items,1998-08-01,CPI (Unadjusted)